<ion-header>
  <ion-toolbar>
    <ion-title><h4 align="center">Refleks Oyunu</h4></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="game-container">
    <h1>Hızlı Tepki Oyunu</h1>
    <div class="traffic-light">
      <div class="light red" [ngClass]="{ active: activeLight === 'red' }"></div>
      <div class="light yellow" [ngClass]="{ active: activeLight === 'yellow' }"></div>
      <div class="light green" [ngClass]="{ active: activeLight === 'green' }"></div>
    </div>
    <ion-button expand="full" (click)="startGame()" [disabled]="gameStarted || gameOver">Oyuna Başla</ion-button>
    <ion-button expand="full" (click)="calculateReactionTime()" [disabled]="!gameStarted || !gameOver">Tepki Süresini Hesapla</ion-button>
    <h2 *ngIf="gameStarted && !gameOver">Tepki Süresi: {{ reactionTime }} ms</h2>
    <h2 *ngIf="gameOver">Oyun Bitti! Tepki Süresi: {{ reactionTime }} ms</h2>
  </div>
</ion-content>
