<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bottle-spin">
      <img src="/assets/24x24.ico">
      <ion-label>Şişe Çevirmece</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="coin-toss">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Yazı Tura</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dice-roll">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Zar Atma</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="snake-game">
      <ion-icon name="remove-outline"></ion-icon>
      <ion-label>Yılan Oyunu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hizli-tepki-oyunu">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>Refleks Oyunu</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="xox">
      <ion-icon name="logo-xbox"></ion-icon>
      <ion-label>xox</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>